@import 'src/styles.scss';

.container {
  background-color: #80ea85;
  // background-color: #f8f8f8;
  box-shadow: 0 0 10px black;
  padding: 30px;
  border-bottom: 2px solid black;

  h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    font-family: $font-family;
  }
}
